<% provide(:title, 'About') %>

<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <p class="lead text-center">
          Hello!  My name is Lindsey and I am an Ambassador Girl Scout in Colorado!
          I'm currently pursuing my Gold Award, the most prestigious award in all
          of Girl Scouts.  Tod do this, I have started a project called "Clothes,
          Casts, and Care" dedicated to finding and creating clothing options to fit
          those wearing hip spica casts.  I have partnered with Children's Hospital
          in Aurora, Colorado and Shriners Hospital for Children in Salt Lake City,
          Utah to provide the patients there with clothing to wear while they are
          in heir hip spica casts.  I have also created this website so every family
          can find clothing options to fit their needs.
        </p>
        <hr>
        <hr class="tagline-divider">
        <hr>
        <p>
          If you would like to support my project, <%= link_to 'contact me', new_message_path %> or got to my gofundme page.
        </p>
        <p>
          Special thanks to:
          <ul>
            <li>Chloe Dechiro</li>
            <li>Judy Dwyer</li>
            <li>Norma Dwyer</li>
            <li>Amy Jaeger</li>
            <li>Jenna Jaeger</li>
            <li>Brittany Kinder</li>
            <li>Lizzie Miller</li>
            <li>Julie Podagrosi</li>
            <li>Jacob Smith</li>
            <li>Kalyssa Volk</li>
            <li>Families at Saddle Ranch Elementary School, and</li>
            <li>My family.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>