<% provide(:title, 'Start Your Own') %>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h1 class="intro-text text-center" style="font-size: xx-large;">
        Want to start your own Clothes, Casts, and Care project in your community? Here's how!
      </h1>
      <hr>
      <ol>
        <li>
          <h3>Contact</h3>

          <p>
            Contact your local hospitals such as Children's Hospital or
            Shriners Hospital for Children or local charitable organizations
            such as Ronald McDonald House to see if there is a need for
            specialized clothing. Start by talking to volunteer coordinators
            and the orthopedic departments at your local hospitals and charities.
          </p>
        </li>
        <li>
          <h3>Plan</h3>

          <p>
            Plan what you want your project to be about and what you want to
            accomplish. How many shorts do you want to make? How are you
            going to get the supplies? Who is going to help you? Do you want
            to make clothes other than shorts?
          </p>
        </li>
        <li>
          <h3>Gather your team</h3>

          <p>
            Do you belong to a club or organization dedicated to helping others?
            Do you know people who like to sew or just want to help their community?
            Start talking to the people you know and ask if they want to help with your
            project. If you are having trouble starting your team, talk to quilting
            clubs, craft/sewing stores, Girl Scout troops, retirement communities, and
            high school sewing teachers.
          </p>
        </li>
        <li>
          <h3>Create a design</h3>

          <p>
            You are welcome to use our design or you can come up with something
            completely new! Figure out what supplies you are going to need (seam
            rippers, thread, fasteners, clothing, elastic, etc.), and make a budget
            to avoid cost overruns.
          </p>
        </li>
        <li>
          <h3>Get your supplies</h3>

          <p>
            The cost of this project is proportional to the amount of spica shorts
            you want to make; however, you can lower costs by asking for donations.
            I suggest setting up a clothing drive in your community, especially at
            elementary schools, and asking local clothing and fabric stores for
            donations. Search the internet for deals on bulk supplies such as snaps
            and thread. Thrift stores are also a good source for cheap clothing.
          </p>
        </li>
        <li>
          <h3>Make a prototype</h3>

          <p>
            Ensure that you have everything that you need to make your spica shorts,
            and that your pattern is simple enough that your team will be able to
            follow it. You want to be an expert before you start mass production.
          </p>
        </li>
        <li>
          <h3>Start!</h3>

          <p>
            Some suggestions:
          <ul>
            <li>
              <p>
                Organize a get-together with your team. Provide refreshments and babysitting.
              </p>
            </li>
            <li>
              <p>
                If your team involves a craft club at a local retirement community, organize
                your get-together at their facilities.
              </p>
            </li>
            <li>
              <p>
                If you are unable to get your entire team together, either assign a task to
                each team member or teach each member how to make the shorts separately.
              </p>
            </li>
            <li>
              <p>
                Set aside time dedicated to making your spica shorts each week.
              </p>
            </li>
            <li>
              <p>
                Keep up-to-date financial and donation records and be sure to thank those
                who have helped you!
              </p>
            </li>
            <li>
              <p>
                Ensure that your shorts are sturdy enough to withstand at least six weeks
                of constant wear.
              </p>
            </li>
          </ul>
          </p>
        </li>
        <li>
          <h3>Donate</h3>

          <p>
            Donate your clothing to your local hospital or charity.
          </p>
        </li>
      </ol>
      <hr>
      <hr class="tagline-divider">
      <hr>
      <p class="lead">
        If you have any questions about starting your project or would like to
        share your own project, feel free to <%= link_to 'contact me', new_message_path %>!
      </p>
    </div>
  </div>
</div>
