<div class="list-group" id="admin-menu">
  <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span>&nbsp;<strong>LOGOUT</strong>'), destroy_admin_session_path, method: :delete, class: 'list-group-item active' %>
</div>