<div class="list-group" id="admin-menu">
  <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span>&nbsp;<strong>LOGOUT</strong>'),
              destroy_admin_session_path,
              method: :delete,
              class: 'list-group-item active' %>
  <%= link_to raw('<span class="glyphicon glyphicon-edit"></span>&nbsp;<strong>NEW BLOG POST</strong>'),
              new_post_path,
              class: 'list-group-item active' %>
</div>