<div class="media panel" style="padding: 10px;">
  <!--<div class="media-left media-middle">-->
  <!--<%# link_to 'image goes here', post_path(post) %>-->
  <!--</div>-->
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to pattern.name, pattern_path(pattern) %>
      <%= link_to 'delete', pattern_path(pattern), confirm: 'Are you sure?', method: :delete, class: 'pull-right' if admin_signed_in? %>
    </h4>
    <p>Uploaded by: <%= pattern.admin.name %></p>
  </div>
</div>