<% provide(:title, @pattern.name) %>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <object data="<%= @pattern.attachment.url %>" type="application/pdf" width="100%" height="800px%">
        <p>It appears you don't have a PDF plugin for this browser.  No biggie... you can <%= link_to 'click here', @pattern.attachment.url %> to download the PDF file.</p>
      </object>
    </div>
  </div>
</div>