<h1>Clothes, Casts, and Care</h1>

<p class="lead">Message from <%= @msg.name %> (<%= mail_to @msg.email %>):</p>

<p>
  <strong>Subject: </strong><%= @msg.subject %>
</p>
<p>
  <strong>Message: </strong>
</p>
<p>
  <%= @msg.content %>
</p>
